.container{
    /* background-color: rgb(209, 234, 119); */
    border: 1px solid red;
    width: 200%;
    margin: 0 auto;
    text-align: center;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid blue;
    justify-content: space-around;
}

.flexbox img{
    /* border: 1px solid green; */
    padding: 10px;

}

.flexbox img{
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 20px black;
}
